<!-- templates/post_detail.html -->
{% extends "_base.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block script %}
    <!-- Insert your scripts here if you have -->
{% endblock %}

{% block control %}
{% endblock %}

{% block disp %}
<div class="container">
    <h1>{{ post.title }}</h1>
    <p>Posted on {{ post.created_at }} by {{ post.creator.username }}</p>
    {% if post.creator.id == session['user_id'] %}
        <button class="btn btn-primary btn-floating" onclick="location.href='/post/{{ post.id }}/delete?post_id={{ post.id }}'">Delete</button>
    {% endif %}
    <hr>

    <div class="post-details">
        <table class="table">
            <tr>
                <td>{{ post.creator.username }}</td>
                <td>{{ post.content }}</td>
                <td>
                    {{ post.created_at }}
                </td>
            </tr>
            {% for comment in post.comments %}
            {% if comment.state.value == 1 %}
            <tr>
                <td>{{ comment.creator.username }}</td>
                <td>{{ comment.content }}</td>
                <td style="width: 300px">
                    {{ comment.created_at }}
                    <div class="dropdown">
                        <button id="dropdownMenu" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bars"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                            {% if comment.creator.id == session['user_id'] %}
                            <a class="dropdown-item" href="/post/{{ post.id }}/delete?post_id={{ comment.id }}">Delete comment</a>
                            {% endif %}
                            <a class="dropdown-item" href="#">Report comment</a>
                            <!-- Other dropdown items here -->
                        </div>
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>

<div class="container">
    <div class="form-group" id="inputComment">
        <form action="{{ post.id }}/comment" method="post">
            <div>
                <label for="comment" class="sr-only">Input your comment</label>
                <input style="display: none" name="parent_id" value="{{ post.id }}">
                <textarea id="comment" name="post_content" class="form-control" placeholder="Input your comment" rows="1"></textarea>
            </div>
            <button id="send" type="submit" class="btn btn-md btn-primary">
                Send
            </button>
            <a href="{{ url_for('channels.get_channels', active_label=2) }}" class="go-back-link">Go back to post list</a>
        </form>
    </div>
</div>

{% endblock %}

{% block botm_cont %}
{% endblock %}

{% block end_script %}
    <script>
        $(".menu-btn").click(function() {
            $(this).next(".menu-content").toggle();
        });
    </script>
{% endblock %}
